*.apk
*.ap_
*.dex
*.class
*.pyc

*.swp

bin/
gen/
libs/

lint.xml

local.properties
.classpath
.project

# generated content
market_icon.png
res/drawable-*/ic_launcher.png
res/drawable-*/ic_help.png
res/drawable-*/ic_restart.png
res/drawable-*/ic_settings.png
res/drawable-*/ic_exit.png
docs
